h1 {
    text-align: center;
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: url(/static/360_F_550349037_ukIvmE453JLLZtreKxg4LoH96WHemUpn.jpg);
    background-size: 100%;

}

.textarea {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

pre {
    background-color: #090c02;
    border: 1px solid #ccc;
    padding: 180px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-top: 80px;
    color: antiquewhite;

}

button {
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    background-color: #fff6f6;
    color: hsl(0, 1%, 23%);
    cursor: pointer;
    border-radius: 8px;
    margin-left: 20px;
}

#font-select {
    width: 130px;
    height: 47px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    color: hsl(0, 1%, 23%);
    margin-top: 10px;
}

.font-button {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(245, 255, 249);
    margin: 10px;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    background-color: #fefefe;
    color: #000000;
    border-radius: 8px;
    margin-right: 10px;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
}